@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
  background-color: #fafafa;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0 25px 20px -20px rgba(0,0,0,0.1);
  border-radius: 50px;
  border: 1px solid #bcd3de;
}


.navbar h1 {
  color: #589FF5;
  /* font-family: 'Quicksand'; */
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  position: relative;
  transition: color 0.5s, background-color 0.5s;
  cursor: pointer;
}
.navbar a:hover {
  background-color: #589FF5;
  color: white;
  border-radius: 8px;
}
.navbar a::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: #589FF5;
  border-radius: 30px;
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 50%;
  /* opacity: 0; */
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: opacity 0.5s, top 0.5s;
}
/* .navbar a:hover{
  color: white;
} */
.navbar a:hover::after{
  top: 50%;
  opacity: 1;
}


.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  /* font-family: 'Quicksand'; */
}

/* blog previews */
.blog-preview{
  padding: 10px 6px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2{
  font-size: 20px;
  color: #589FF5;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* Blog Details css */
.blog-details h2{
  font-size: 20px;
  color: #589FF5;
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px 0;
}
.blog-details button {
  background: #589FF5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* Create css */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #589FF5;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #589FF5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.not-found h2{
  color: #589FF5;
  font-size: 100px;
}
.not-found .linked{
  text-decoration: none;
  color: #589FF5;
  cursor: pointer;
}
.not-found{
  display: block;
  position: relative;
  justify-content: center;
  text-align: center;
}
.not-found p{
  font-size: 30px;
}